body {
    color: #fff;
}

div {
    height: auto;
}

.first {
    float: left;
    width: 25%;
}

.green {
    margin-left: 25%;
}

.second {
    float: right;
    width: 25%;
}

.black {
    margin-right: 25%;    
    height: 52px;
}

.center {
    width: 33.33%;  
    float: left;
}

.center:first-of-type {
    float: right;    
}

/* .center:last-of-type {       
   
} */


