table {
    width: 100px;
    height: 100px;
    border-spacing: 0;
}

td {
    background-color: red;
}

td:first-child {
    background-color: blue;      
}

td:last-child {
    border-radius: 0 50% 50% 0;
}

#cirle {
    background-color: blue;
    border-radius: 50%;
}

.top {
    border-radius: 50% 50% 0 0;
}

.bot {
    border-radius: 0 0 50% 50%;
}

.left-top {
    border-top-left-radius: 50%;
}

.left-bot {
    border-bottom-left-radius: 50%;
}