body {
    /* первый способ */
    opacity: 0.3;
    /* второй способ */
    color: rgb(0, 0, 255, 0.3);    
}

p {
    /* первый способ */
    color: blue;
    /* второй способ */
    color: #0000ff;
    /* третий способ */
    color: hsl(240, 100%, 50%);
    /* четвертый способ */
    color: rgb(0, 0, 255);
}